html,
body {
  padding: 0;
  margin: 0;
  font-family: Noto Sans Kr, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, SB_L,
    Neothic, Consolas, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
div {
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
#__next {
  height: 100%;
}
